<div id="plex_session_<%= session.id %>" class="item <%= active %>">
  <div style="overflow: auto; height: 90%;">
    <h2>Now Playing</h2>
    <div class="thumbnail">

      <%= image_tag session.get_plex_object_img() %>

      <div class="progress now-playing-progress-bar" style="height: 5px">
        <div id="plex_progressbar_<%= session.id %>"
          class="progress-bar progress-bar-warning" role="progressbar"
          aria-valuenow="<%= session.get_percent_done() %>" aria-valuemin="0"
          aria-valuemax="100" style="width: <%= session.get_percent_done() %>%">
          <% logger.debug(session.get_percent_done()) %>
        </div>
      </div>
      <h3><%= session.media_title %></h3>

      <p><%= session.get_description %></p>
    </div>
  </div>


</div>
