<%= simple_form_for @service do |f| %>

  <% if request.original_url.include? "new" %>
   <div class="row" id="service_type_dropdown">
     <div class="col-lg-3 form-group"  id="wrapper">
      <br>
       <%= f.input :service_type, label: "Service Type:", :collection => Service::SERVICE_TYPES,
       :include_blank => false, :required => false %>
     </div>
   </div>
 <% else %>
   <div class="row">
     <div class="col-lg-3 form-group">
      <label class="string optional control-label" for="service_type">Service Type</label>
      <input class="string optional form-control" type="text" value="<%= @service.service_type %>"
        name="service_type" id="service_type" disabled="disabled">
        <!--Yes, I know that you can still update the service_type field if you remove the disabled attribute.-->
     </div>
   </div>
 <% end %>

  <div class="row" id="default_info_div">

    <div class="col-lg-4 form-group">
  	  <%= f.input :name, :placeholder => "New serivce name", :required => false %>
  	</div>
    <div class="col-lg-3 form-group">
  	  <%= f.input :ip, label: "IP Address", :placeholder => "127.0.0.1", :required => false %>
    </div>
    <div class="col-lg-3 form-group">
  	  <%= f.input :dns_name, label: "DNS Name", :placeholder => "plex", :required => false %>
    </div>
    <div class="col-lg-2 form-group">
  	  <%= f.input :port, :placeholder => "80", :required => false %>
    </div>
  </div>
  <div class="row" id="url_div">
    <div class="col-lg-12 form-group">
      <%= f.input :url, label: "URL", :placeholder => "http://plex.example.com:32400/web", :required => false %>
    </div>
  </div>
  <div class="row" id="login_div">
    <div class="col-lg-6 form-group">
  	  <%= f.input :username, :placeholder => "username", :required => false %>
    </div>
    <div class="col-lg-6 form-group">
  	  <%= f.input:password, :placeholder => "password", :required => false %>
    </div>
  </div>
  <div class="row" id="api_div">
    <div class="col-lg-12 form-group">
      <%= f.input :api, label: "API Key", :placeholder => "453867f2a275456ba6d3b4b5a8f6c3ac", :required => false %>
    </div>
  </div>
  <%= f.button :submit, class: "btn-success" %>
  <% if request.original_url.include? "edit" %>
    <% str = "Are you sure you want to delete: #{@service.name}?" %>
    <%= link_to 'Delete Service', @service, method: :delete, data: { confirm: str }, class: "btn btn-md btn-danger pull-right" %>
  <% end %>
<% end %>

