<div class="row" id="service_<%= service.id %>">
  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
     <table>
       <tbody>
         <tr>
           <td>
             <% if service.online_status %>
               <%= link_to service.url, class: "h2_index_link", :target => "_blank" do %>
                 <button class="btn btn-xs btn-success" style="width:62px"  data-no-turbolinks>
                   <span class="glyphicon glyphicon-ok" style="color:white;"  data-no-turbolinks></span> Online</button>
               <% end %>
             <% else %>
               <%= link_to service.url, class: "h2_index_link", :target => "_blank"  do %>
                 <button class="btn btn-xs btn-warning" style="width:62px"  data-no-turbolinks>
                   <span class="glyphicon glyphicon-remove" style="color:white;"  data-no-turbolinks></span> Offline</button>
               <% end %>
             <% end %>
             <div style="padding:1px"></div>
           </td>
           <td style="padding-left: 5px;">
             <% if service.service_flavor_id %>
               <%= link_to service.name, {controller: service.service_flavor_type.tableize, action: 'show', id: service.service_flavor_id}, class: 'h2_index_link'%>
             <% else %>
               <%= link_to service.name, service, class: 'h2_index_link' %>
             <% end %>
           </td>
         </tr>
       </tbody>
     </table>
  </div>
</div>