<% provide(:title, "Edit #{@service.name}") %>

<%= render 'layouts/servicepanel' %>


<div class="col-sm-8">
  <h2>Editing Service: <%= @service.name %></h2>
  <div class="well">
    <%= form_for(@service, :url => {:action => 'update', :id => @service.id}) do |f| %>
    <div class="form-group">
    	  <%= f.label :name %>
    	  <%= f.text_field :name, :placeholder => @service.name, class: 'form-control'  %>
    	</div>
  	  <div class="row">
    	  <div class="col-lg-4 form-group">
    	  <%= f.label :ip, "IP Address" %>
    	  <% if @service.ip.blank? %>
    	    <%= f.text_field :ip, :placeholder => @service.ip, class: 'form-control' %>
  	    <% else %>
  	      <%= f.text_field :ip, :placeholder => "127.0.0.1", class: 'form-control' %>
    	  <% end %>   
    	  </div>
    	  <div class="col-lg-4 form-group">
    	  <%= f.label :dns_name, "DNS Name" %>
    	  <% if @service.dns_name.blank? %>
    	    <%= f.text_field :dns_name, :placeholder => @service.dns_name, class: 'form-control'  %>
  	    <% else %>
      	  <%= f.text_field :dns_name, :placeholder => "localhost", class: 'form-control'  %>
    	  <% end %>  
    	  </div>
    	  <div class="col-lg-4 form-group">
    	  <%= f.label :port %>
    	  <%= f.number_field :port, :placeholder => @service.port, class: 'form-control'  %>
    	  </div>
  	  </div>
  	  <div class="form-group">
    	  <%= f.label :url, "URL" %>
    	  <%= f.text_field :url, :placeholder =>  @service.url, class: 'form-control' %>
  	  </div>
  	  <%= f.submit "Update Service",  class: "btn btn-primary"  %>
      <% str = "Are you sure you want to delete: #{@service.name}?" %>
      <%= link_to 'Delete Service', @service, method: :delete, data: { confirm: str }, class: "btn btn-md btn-danger pull-right" %>   
    <% end %>
      
  </div>
</div>

<%= render 'layouts/rightbar' %>

