
<% if @services.empty? %>

<div class="col-sm-12 text-center">

  <div class="jumbotron">
    <h1>Welcome to Plex-Board!</h1>
    <h2>It looks like you haven't added a service yet...</h2>
    <h2>You should add one here: </h2>
    <div class="row">
      <%= link_to "Add Service!", new_service_path, class: "btn btn-lg btn-success" %>
    </div>

  </div>

</div>

<% else %>

  <%= render 'layouts/servicepanel' %>

 <div class="col-lg-8 text-center">
    <div class="carousel slide carousel-fade" data-ride="carousel" data-duration="1000" id="plex-carousel">
      <% @services.each do |service| %>
        <% if service.service_type == "Plex" %>
        <% logger.debug("service loop") %>
          <% first = true %>
          <% if first..false and first %>
            
              <% service.get_plex_sessions %>
              <% service.sessions.try(:each) do |session| %>
              <% logger.debug(service.name) %>
                <% frst = true %>
                <% if frst..false and frst %> <!--I was using the same variable names twice... scoping problem-->
                  <% logger.debug("First Carousel") %>
                <div class="carousel-inner">  
                  <%= render :partial => 'now_playing', :locals => { :session => session, :active => "active"}  %>
                <% else %>
                  <%= render :partial => 'now_playing', :locals => { :session => session, :active => ""}  %>
                <% end %> <!--if sessions-->
              <% end %> <!--sessions loop-->
                </div> <!--carousel-inner div-->
            
          <% end %> <!--if first time-->
        <% end %> <!--if service_type-->
      <% end %> <!--services.each-->
    </div>
  </div>
  <%= render 'layouts/rightbar' %>
<% end %>
