<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>



    <% @services.each do |service| %>
        <td><%= service.name %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        

    <% end %>

<br>

<%= link_to 'New Service', new_service_path %>
