

  <%= render 'layouts/servicepanel' %>


<% if @services.empty? %>

<div class="col-sm-12 text-center">

  <div class="jumbotron">
    <h1>Welcome to Plex-Board!</h1>
    <h2>It looks like you haven't added a service yet...</h2>
    <h2>You should add one here: </h2>
    <div class="row">
      <%= link_to "Add Service!", choose_service_type_path, class: "btn btn-lg btn-success" %>
    </div>

  </div>

</div>

<% elsif !@plex_services.empty? %>
  <div class="col-lg-4 col-lg-offset-2 text-center">
    <div class="carousel slide carousel-fade" data-ride="carousel" data-duration="1000" id="plex-carousel">
      <% @plex_services.each_with_index do |plex_service, i| %>
        <% logger.debug("service loop") %>
          <% if i == 0 %>
            <% plex_service.get_plex_sessions %>
            <div class="carousel-inner" id="carousel-inner">
            <% plex_service.plex_sessions.each_with_index do |plex_session, j| %>
              <% logger.debug(plex_service.service.name) %>
                <% if j == 0 %>
                  <% logger.debug("First Carousel") %>
                  <%= render :partial => 'now_playing', :locals => { :plex_session => plex_session, :active => "active"}  %>
                <% else %>
                  <%= render :partial => 'now_playing', :locals => { :plex_session => plex_session, :active => ""}  %>
                <% end %> <!--if sessions-->
              <% end %> <!--sessions loop-->
              <% if plex_service.plex_sessions.count < 3 %>
                <% plex_service.get_plex_recently_added %>
                <% plex_service.plex_recently_addeds.each_with_index do |plex_recently_added, k| %>
                  <% if k > 4 %>
                    <% break %>
                  <% end %>
                  <% logger.debug(plex_service.service.name) %>
                  <% if plex_service.plex_sessions.count <= 0 && k == 0 %>
                    <% logger.debug("First Carousel") %>
                    <%= render :partial => 'recently_added', :locals => { :plex_recently_added => plex_recently_added, :active => "active"}  %>
                  <% else %>
                    <%= render :partial => 'recently_added', :locals => { :plex_recently_added => plex_recently_added, :active => ""}  %>
                  <% end %> <!--if sessions-->
                <% end %> <!--sessions loop-->
              <% end %>
            </div> <!--carousel-inner div-->
          <% end %> <!--if first time-->
      <% end %> <!--services.each-->
    </div>
  </div>
  <div class="col-lg-2">
  </div>
  <%= render 'layouts/rightbar' %>
<% end %>
