
<% if @services.empty? %>

<div class="col-sm-12 text-center">

  <div class="jumbotron">
    <h1>Welcome to Plex-Board!</h1>
    <h2>It looks like you haven't added a service yet...</h2>
    <h2>You should add one here: </h2>
    <div class="row">
      <%= link_to "Add Service!", new_service_path, class: "btn btn-lg btn-success" %>
    </div>

  </div>

</div>

<% else %>

  <%= render 'layouts/servicepanel' %>
  <div class="col-lg-2">
  </div>
  <div class="col-lg-4 text-center">
    <div class="carousel slide carousel-fade" data-ride="carousel" data-duration="1000" id="plex-carousel">
      <% @services.each_with_index do |service, i| %>
        <% if service.service_type == "Plex" %>
        <% logger.debug("service loop") %>
          <% if i == 0 %>
              <% service.get_plex_sessions %>
              <% service.sessions.try(:each_with_index) do |session, j| %>
              <% logger.debug(service.name) %>
                <% if j == 0 %>
                  <% logger.debug("First Carousel") %>
                <div class="carousel-inner">
                  <%= render :partial => 'now_playing', :locals => { :session => session, :active => "active"}  %>
                <% else %>
                  <%= render :partial => 'now_playing', :locals => { :session => session, :active => ""}  %>
                <% end %> <!--if sessions-->
              <% end %> <!--sessions loop-->
                </div> <!--carousel-inner div-->
          <% end %> <!--if first time-->
        <% end %> <!--if service_type-->
      <% end %> <!--services.each-->
    </div>
  </div>
  <div class="col-lg-2">
  </div>
  <%= render 'layouts/rightbar' %>
<% end %>
