<% provide(:title, 'New Service') %>

<%= render 'layouts/servicepanel' %>



<div class="col-lg-8">
  <div class="well">
  <h2>New Service</h2>

     <%= render 'shared/error_messages' %>

     <%= simple_form_for @service do |f| %>
       <div class="row">
         <div class="col-lg-3 form-group">
          <br>
           <%= f.input :service_type, :collection => Service::SERVICE_TYPES, 
           :include_blank => false, :selected => "Plex" %>
         </div>
       </div>

        <div class="row">

          <div class="col-lg-4 form-group">
        	  <%= f.input :name, :placeholder => "New serivce name" %>
        	</div>
          <div class="col-lg-3 form-group">
        	  <%= f.input :ip, label: "IP Address", :placeholder => "127.0.0.1" %>
          </div>
          <div class="col-lg-3 form-group">
        	  <%= f.input :dns_name, label: "DNS Name", :placeholder => "plex" %>
          </div>
          <div class="col-lg-2 form-group">
        	  <%= f.input :port, :placeholder => "80" %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group">
            <%= f.input :url, label: "URL", :placeholder => "http://plex.example.com:32400/web" %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group">
        	  <%= f.input :username, :placeholder => "username" %>
          </div>
          <div class="col-lg-6 form-group">
        	  <%= f.input:password, :placeholder => "password" %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group">
            <%= f.input :api, :placeholder => "453867f2a275456ba6d3b4b5a8f6c3ac" %>
          </div>
        </div>
        <%= f.button :submit %>
        <% end %>


  </div>
</div>






























