<% provide(:title, 'New Service') %>

<%= render 'layouts/servicepanel' %>



<div class="col-lg-8">
  <div class="well">
  <h2>New Service</h2>

     <%= render 'shared/error_messages' %>

     <%= simple_form_for @service do |f| %>
       <div class="row">
         <div class="col-lg-3 form-group">
          <br>
           <%= f.input :service_type, :collection => Service::SERVICE_TYPES, 
           :include_blank => false, :selected => "Generic Service" %>

         </div>
       </div>

        <div class="row">

          <div class="col-lg-3 form-group">
        	  <%= f.input :name %>
        	</div>
          <div class="col-lg-3 form-group">
        	  <%= f.input :ip %>
          </div>
          <div class="col-lg-3 form-group">
        	  <%= f.input :dns_name %>
          </div>
          <div class="col-lg-3 form-group">
        	  <%= f.input :port  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.input :url %>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group">
        	  <%= f.input :username %>
          </div>
          <div class="col-lg-6 form-group">
        	  <%= f.input:password %>
          </div>
        </div>
        <div class="form-group">
          <%= f.input :api %>
        </div>
        <%= f.button :submit %>
        <% end %>


  </div>
</div>






























