<% provide(:title, @service.name) %>

<%= render 'layouts/servicepanel' %>
<%= render 'layouts/rightbar' %>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-md-pull-0 col-lg-pull-2">
  <h2>Service: <%= @service.name %></h2>
    <div class="panel panel-default">
      <table class="table table-bordered">
        <th>Service Name</th>
        <% if @service.ip.nil? || @service.ip.empty? %>
        <th>DNS Name</th>
        <% elsif @service.dns_name.nil? || @service.dns_name.empty? %>
        <th>IP Address</th>
        <% else %>
        <th>DNS Name</th>
        <th>IP Address</th>
        <% end %>
        <th>Port</th>
        <th>URL</th>
        
        <tr>
        <td><%= @service.name %></td>
        <% if @service.ip.nil? || @service.ip.empty? %>
        <td><%= @service.dns_name %></td>
        <% elsif  @service.dns_name.nil? || @service.dns_name.empty? %>
        <td><%= @service.ip %> </td>
        <% else %>
        <td><%= @service.dns_name %></td>
        <td><%= @service.ip %> </td>
        <% end %>
        <td><%= @service.port %> </td>
        <td><%= @service.url %> </td>
        </tr>
      </table>
    
    </div>
  <div class="pull-right">
  <% str = "Are you sure you want to delete: #{@service.name}?" %>
    <% if @service.service_flavor_id %>
      <%= link_to 'Edit', {controller: @service.service_flavor_type.tableize, action: 'edit',
                           id: @service.service_flavor_id},  class: 'btn btn-md btn-primary' %>
      <%= link_to 'Delete', {controller: @service.service_flavor_type.tableize, method: :delete,
                             data: { confirm: str }, anchor: @service}, class: 'btn btn-md btn-danger' %>
    <% else %>
      <%= link_to 'Edit', edit_service_path(@service), class: 'btn btn-md btn-primary' %>
      <%= link_to 'Delete', @service, method: :delete, data: { confirm: str }, class: 'btn btn-md btn-danger' %>
    <% end %>
  </div>
</div>


