

<div class="col-md-8">
  <h2>New Service</h2>

    <div class="well">
     <%= render 'shared/error_messages' %>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#generic" role="tab" data-toggle="tab">Generic Service</a></li>
      <li><a href="#plex" role="tab" data-toggle="tab">Plex</a></li>
      <li><a href="#couchpotato" role="tab" data-toggle="tab">Couchpotato</a></li>
      <li><a href="#sickrage" role="tab" data-toggle="tab">Sickrage</a></li>
      <li><a href="#sabnzbd" role="tab" data-toggle="tab">Sabnzbd+</a></li>
      <li><a href="#deluge" role="tab" data-toggle="tab">Deluge</a></li>
    </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="generic">
      <%= render partial: "genericform" %>
    </div>
    <div class="tab-pane" id="plex">
      <%= render partial: "plexform" %>
    </div>
    <div class="tab-pane" id="couchpotato">
      <%= render partial: "couchpotatoform" %>
    </div>
    <div class="tab-pane" id="sickrage">
      <%= render partial: "sickrageform" %>
    </div>
    <div class="tab-pane" id="sabnzbd">
      <%= render partial: "sabnzbdform" %>
    </div>
    <div class="tab-pane" id="deluge">
      <%= render partial: "delugeform" %>
    </div>
  </div>
	</div>

</div>

<%= render 'layouts/rightbar' %>



