<div id="plex_session_<%= plex_session.id %>" class="item <%= active %>">
  <div style="overflow: auto; height: 90%;">
    <h2>Now Playing</h2>
    <div class="thumbnail">

      <%= image_tag plex_session.plex_object.get_img, skip_pipeline: true %>

      <div class="progress now-playing-progress-bar" style="height: 5px">
        <div id="plex_progressbar_<%= plex_session.id %>"
          class="progress-bar progress-bar-warning" role="progressbar"
          aria-valuenow="<%= plex_session.get_percent_done %>" aria-valuemin="0"
          aria-valuemax="100" style="width: <%= plex_session.get_percent_done %>%">
        </div>
      </div>
      <h3><%= plex_session.plex_object.media_title %></h3>

      <p><%= plex_session.plex_object.get_description %></p>
    </div>
  </div>
</div>

