<% forecast = weather.get_weather %>
<div class="row" id="weather_<%= weather.id %>">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-5">
        <canvas id="currentWeatherIcon" width="80" height="80"></canvas>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-12 col-lg-7">
        <p><strong>
          <%= weather.get_city_and_state %>
        </strong></p>
        <p><strong>
          <%= forecast['currently']['temperature'].round %> &deg;

          <%= forecast['currently']['summary'] %>
        </strong>
        </p>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Tomorrow: </strong></br>
          <%= forecast['daily']['summary'] %>
        </p>
      </div>
    </div>
  </div>

  <script>
    var skycons = new Skycons({"color": "black"});
    skycons.add("currentWeatherIcon", Skycons.<%= forecast['currently']['icon'].gsub!(/-/, '_').upcase %>);
    skycons.play();
  </script>

</div>
