<div class="row" id="weather_<%= weather.id %>">
  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
    <% forecast = weather.get_weather %>
    <div class="row">
      <div class="col-xs-8">
        <canvas id="currentWeatherIcon"></canvas>
      </div>
      <div class="col-xs-4">
        <%= forecast['currently']['temperature'].round %> &deg;
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= forecast['currently']['summary'] %>
      </div>

    </div>


    <script>
      var skycons = new Skycons({"color": "black"});
      skycons.add("currentWeatherIcon", Skycons.<%= forecast['currently']['icon'].gsub!(/-/, '_').upcase %>);
      skycons.play();
    </script>
    <%= forecast %>
  </div>
</div>