<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div id="main-container" class="container-fluid">
    <div class="row">
      <div id="sidebar" class="col-xs-3">
        <h3>Test</h3>
      </div>
      <div id="main-content" class="col-xs-9">
        <%= yield %>
      </div>
    </div>
</div>


<%= render 'layouts/footer' %>

</body>
</html>
