<!DOCTYPE html>
<html lang="en">
  
<%= render 'layouts/header' %>

<body>
  
<%= render 'layouts/navbar' %>
<title><%= full_title(yield(:title)) %></title>
<div class="container">
  <div class="row">
    <%= yield %>

  </div>
</div>

<%= render 'layouts/footer' %>

</html>


