<!DOCTYPE html>
<html lang="en">
  
<%= render 'layouts/header' %>

<body>
  
<%= render 'layouts/navbar' %>
<title><%= full_title(yield(:title)) %></title>

<%= yield %>

<%= render 'layouts/footer' %>

</html>


